.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.newPostButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.newPostButton:hover {
  background-color: #0056b3;
}

.postsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postCard {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.postCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postContent {
  margin-left: 5px;
  flex: 1; /* O conteúdo ocupa o máximo do espaço disponível */
}

.postContent h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.postContent p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.actions {
  display: flex;
  gap: 8px;
}

.editButton,
.deleteButton {
  padding: 6px 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.editButton {
  background-color: #28a745;
  color: white;
}

.editButton:hover {
  background-color: #218838;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #c82333;
}

.coverImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}