.sidebar {
  width: 220px;
  background-color: #2d3748;
  height: 100vh;
  padding: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adiciona espaçamento entre os itens do menu */
}

.menu li {
  margin-bottom: 10px; /* Espaçamento extra entre os itens */
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px; /* Espaçamento entre o ícone e o texto */
  padding: 10px;
  transition: opacity 0.3s ease;
}

.menu li a:hover {
  opacity: 0.8;
}